<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicioso</title>
    <!--TITLE ICON-->
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/logos/ramen.png">
    <!--STYLES SHEET-->
    <link rel="stylesheet" href="../css/items.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');</style>
</head>
<body>
    <!--HEADER-->
    <header id="home">
        <div class="logo">
            <a href="../views/home.html">
                <img src="../assets/logos/logo.png" alt="Delicioso Logo" id="logo" width="146" height="67.6">
            </a>
        </div>

        <!--NAVBAR-->
        <nav id="navbar-container">
            <ul class="nav navbar">
                <li class="nav-item active"><a href="./home.html">Home</a></li>
                <li class="nav-item"><a href="./orders.html">My orders</a></li>
                <li class="nav-item"><a href="#">Favorites</a></li>
                <li class="nav-item"><a href="#">Need help</a></li>
                <li class="nav-item"><a href="#">Add a restaurant</a></li>
                <li class="nav-item"><a href="#">Contact us</a></li>
                <li class="nav-item"><a href="#">GTC</a></li>
            </ul>
        </nav>

        <div class="buttons">
            <a href="./logIn.html" class="button2">LogIn</a>
        </div>
    </header>

    <!--MAIN-->
    <main>
        <!-- LISTING -->
        <div class="listings">
            <div class="container">
                <div class="header">
                    <div class="header-title">
                        <h2>Order Now</h2>
                        <span>The fastest food to your door</span>
                    </div>
                    <div class="header-viewOptions">
                    </div>
                </div>

                <div class="listings-grid">
                    <div class="listings-grid-element">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1619562330306-fcbade7004fa?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="Listing pic">
                        </div>
                        <div class="text">
                            <div class="text-title">
                                <h3>Cheeseburger</h3>
                                <div class="info">
                                    <span>Smash Burgers</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="circle">€12</span>
                            </div>
                        </div>
                        <div class="text-lower">
                            <span class="smallText">
                                <button>Add</button>
                            </span>
                        </div>
                    </div>

                    <div class="listings-grid-element">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1615361200141-f45040f367be?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Listing pic">
                        </div>
                        <div class="text">
                            <div class="text-title">
                                <h3>Salmon Sushi</h3>
                                <div class="info">
                                    <span>Star Sushi</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="circle">€14</span>
                            </div>
                        </div>
                        <div class="text-lower">
                            <span class="smallText">
                                <button>Add</button>
                            </span>
                        </div>
                    </div>

                    <div class="listings-grid-element">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1544982503-9f984c14501a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="Listing pic">
                        </div>
                        <div class="text">
                            <div class="text-title">
                                <h3>Pepperoni Pizza</h3>
                                <div class="info">
                                    <span>Napoli Pizza</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="circle">€11</span>
                            </div>
                        </div>
                        <div class="text-lower">
                            <span class="smallText">
                                <button>Add</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- POPULAR LISTING -->
        <div class="listings">
            <div class="container">
                <div class="header">
                    <div class="header-title">
                        <!--
                        <h2>Popular near you</h2>
                        -->
                    </div>
                    <div class="header-viewOptions">
                    </div>
                </div>

                <div class="listings-grid">
                    <div class="listings-grid-element">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1568901839119-631418a3910d?q=80&w=1898&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="Listing pic">
                        </div>
                        <div class="text">
                            <div class="text-title">
                                <h3>Strawberry Milkshake</h3>
                                <div class="info">
                                    <span>Scoop Haven Creamery</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="circle">€8</span>
                            </div>
                        </div>
                        <div class="text-lower">
                            <span class="smallText">
                                <button>Add</button>
                            </span>
                        </div>
                    </div>

                    <div class="listings-grid-element">
                        <div class="image">
                            <img src="https://plus.unsplash.com/premium_photo-1681406995032-c3ceeb24d7f9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="Listing pic">
                        </div>
                        <div class="text">
                            <div class="text-title">
                                <h3>Tacos de Pastor</h3>
                                <div class="info">
                                    <span>Taqueria Rodriguez</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="circle">€10</span>
                            </div>
                        </div>
                        <div class="text-lower">
                            <span class="smallText">
                                <button>Add</button>
                            </span>
                        </div>
                    </div>

                    <div class="listings-grid-element">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1604632911096-4e93ba2cf7fd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="Listing pic">
                        </div>
                        <div class="text">
                            <div class="text-title">
                                <h3>Pork Dumpling</h3>
                                <div class="info">
                                    <span>Steamy Dumpling Den</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="circle">€12</span>
                            </div>
                        </div>
                        <div class="text-lower">
                            <span class="smallText">
                                <button>Add</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <br><br>

    <!--FOOTER-->
    <footer>
        <div class="footer-container">
            <!--LOGO-->
            <div class="footer-logo">
                <a href="./home.html">
                    <img src="../assets/logos/logo.png" alt="Delicioso Logo">
                </a>
            </div>

            <!--REDIRECTS-->
            <div class="footer-column redirects">
                <h3>Redirects</h3><br>
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./menu.html">Menu</a></li>
                    <li><a href="#">Order</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <!--MEMBERS-->
            <div class="footer-column members">
                <h3>Members</h3><br>
                <ul>
                    <li><a href="#">Giulietta Pancari-Fauret</a></li>
                    <li><a href="#">Renata Tejeda Mercado</a></li>
                    <li><a href="#">Charles Radolanirina</a></li>
                </ul>
            </div>

            <!--CONTACT US-->
            <div class="footer-column contact-us">
                <h3>Contact Us</h3><br>
                <p>10 rue de vanves, Issy-les-Moulineaux - 92310</p>
                <p>07 12 30 45 62</p>
                <p><a href="mailto:contact@delicioso.fr">contact@delicioso.fr</a></p>
            </div>
        </div>

        <br>

        <!--BOTTOM-->
        <div class="footer-bottom">
            Copyright &copy; Delicioso  |  2024
        </div>
    </footer>

    <!--SCRIPTS-->
    <script src="https://unpkg.com/feather-icons"></script>
    <script>feather.replace()</script>
</body>
</html>
